.row
{
  height:150px;
  /* max-width: 100%; */
  margin: auto;
}

.row div[class=col-md-2]
{
  background-color: rgba(0,0,0,0.1);
  width: 100%;
  border: 5px solid white;
  border-right:0px;
  border-radius: 20px;
}

.row div p
{
  position: absolute;   /*手機版關掉*/
  bottom: -10px;
  right: 0;
  width: 100%;
  border-top: 1px solid #000;
}

form{
  position: relative;
  top:10%;
  text-align: center;
}


.img{
  margin-top: 20px;
  max-height: 130px;
  margin-bottom: 30px;
}

.page{
  position: fixed;
  color:black;
  top:92%;
  text-align: center;
}

.nav
{
  position: fixed;
  z-index:2;
  top:11%;
}

.nav ul
{
  border-top:2px solid rgba(0,0,0,0.5);
  margin-top: 20px;
}

ul span
{
  border-bottom: 2px solid rgba(0,0,0,0.5);
  font-weight:bold;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 10px;
}

#myNavbar li
{
  margin-bottom: 10px;
}

.pos-f-t
{
  position: fixed;
  width: 100%;
  top:10%;
  font-size: 8px;
  color:#343a40;
}

.collapse li
{

    font-size:20px;
}

.collapsing
{
  font-size: 20px;
}

#bar2
{
  position: absolute;
  color: white;
  float: left;
  z-index: 2;
}
#bar2 a{
  font-size: 12px;
  margin-right: 2px;
  margin-left: 5px;
  float:right;
}

#loadspace
{
  position: fixed;
  background-color: white;
  width: 100%;
  height:91%;
  z-index:100;
}

#myNavbar a
{
  text-decoration: none;
  color: black;
}

.categorie{ background-image:url(/static/img/pic.png); margin-left:5px;margin-right:10px;background-color:black;height:17px;width: 20px;}
.categorie-1{background-position: -2px -1px}
.categorie-2{background-position: 24px -60px}
.categorie-3{background-position: 45px 0px}
.categorie-4{background-position: -2px -120px}
.categorie-5{background-position: -2px -220px}
.categorie-6{background-position: 45px -240px}
.categorie-7{background-position: 24px -40px}
.categorie-8{background-position: 45px -60px}
.categorie-9{background-position: 45px -140px}
.categorie-10{background-position: -2px -160px}
.categorie-11{background-position: 45px -160px}
.categorie-12{background-position: 24px -20px}

@media screen and (max-width:1040px)
{
  #myNavbar
  {
    display:none;
  }
  .bar
  {
    display: none;
  }
  form{
    top:15%;
  }
  .row div[class=col-md-2]
  {
    z-index: -1;
  }

  .nav span
  {
    display: none;
  }
  input[type=button] , input[type = text]
  {
    float:right;
    margin-right:10px;
  }
  #loadspace
  {
    top:15%;
  }
}

@media screen and (max-width:768px)
{
` .img
  {
    margin-bottom: 10px;
  }`
  .row div p
  {
    position: relative;
  }
}

@media screen and (min-width:1040px)
{
  .pos-f-t
  {
    display: none;
    font-size:5px;
  }

}
