#Img {
    font-family: DFKai-SB, STKaiti;
    position: relative;
    top: 120px;
}

#product {
    font-family: DFKai-SB, STKaiti;
    position: relative;
    top: -25%;
}

#qas {
    font-family: DFKai-SB, STKaiti;
    position: relative;
    top: -30%;
}

form {
    position: relative;
    width: 80%;
    height: 20px;
}

#purchase {
    position: relative;
    top: -36px;
    right: -180px;
    width: 40%;
}

#track {
    position:relative;
    font-size:15px;
    right: -40%;
}

.tr1 {
    background-color: cornsilk;
}

.tr2 {
    background-color: cadetblue;
}

.tr3 {
    background-color: lightgray;
}

#product_name, #current_price, #deadline {
    color: red;
}

input[type=button]{
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:10px;
	font-size:15px;
	font-weight:bold;
    padding:0px 10px;
}

input[type=submit]{
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:10px;
	font-size:15px;
	font-weight:bold;
    padding:0px 10px;
}

input[type=datetime-local] {
    font-size: 15px;
    width: 210px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number]{
    -moz-appearance: textfield;
}

@media screen and (min-width: 630px) {
    #product {
        left: 50%;
        width: 50%;
    }

    #Img {
        left: 15%;
        width: 30%;
        height: 40%;
    }

    #image{
        width: 100%;
        height: 100%;
    }

    #qas {
        left: 10%;  
        width: 80%;
        font-size: 20px;
    }

    table {
        font-size: 20px;
        width: 100%;
    }

    td {
        word-break: break-all;
        width: 50%;
    }

    .td1 {
        background-color: white;
    }
}

@media screen and (max-width: 630px) {
    #product {
        top: 20%;
        left: 10%;
        width: 80%;
    }

    #Img {
        left: 10%;
        width: 80%;
        height: 30%;
    }

    #image{
        width: 100%;
        height: 100%;
    }

    #qas {
        position: relative;
        left: 10%;
        width: 80%;
        top: 200px;
        font-size: 20px;
    }

    table {
        font-size: 20px;
        width: 100%;
    }

    td {
        width: 100%;
        float: left;
        word-break: break-all;
    }

    .td1 {
        background-color: lightgray;
    }
}