.data
{
    position: relative;
    top:10%;
    /*text-align: center;*/
    /* z-index: -1; */
    font-size: 18px;
}
.col-md-12
{
  height:5%;
  text-align: center;
}

body
{
	z-index: -1;
}

.container-fluid
{
  z-index:1;
}

h2
{
	text-align: center;
}

.glyphicon
{
	margin-bottom: 10px;
 	margin-right: 10px;
}

small
{
	display: block;
	line-height: 1.428571429;
	color: #999;
}

#afterBut
{
	float:left;
	position: absolute;
	font-size: 2em;
}
#mySmallNavbar
{
  margin-top:-20px;
}

.col-md-4  .well
{
	height: 40%;
}

.col-md-8 .well
{
  height:50%;
}

img
{
	height: 200px;
	width: 200px;
}

#shake
{
  margin-top: 150px;
  width: 100%;
}

.row div img{
  position: relative;

}

.row{
  height:100%;
}

#product-url{
  position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
}

#buyer-contact
{
  word-wrap:break-word;
}


@media screen and (max-width:768px)
{
  .data{
    top:20%;
  }
  .col-md-12{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .row{
    z-index: -1;
  }
  img{
    height:50px;
    width:50px;
  }

  #shake
  {
    height: 200px;
  }
}
