{% if msg %}
<script>alert('{{msg}}')</script>
{% endif %}

<html>
{% load staticfiles %}
  <link rel="shortcut icon" href="{% static 'img/ntoulogo.png' %}"/>
  <script src="{% static 'js/jquery.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/MemberCenter.css' %}">
  <script>
    var info = {{ user | safe }};
    var userStatus = '{{ request.session.idToken }}';
    if (!userStatus)
    {
      location.href = "{% url 'signin' %}')";
    }
    console.log(userStatus);
    var csrf_token = "{% csrf_token %}";
    var name = '{{ name }}';
  </script>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <div id="loadspace">
    <div id="loader" class="loader" >
      <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div>
  </div>
    <body onload="start()">
        <ul align="center">
        <li onclick="person()">個人資料</li>
        <li onclick="likes()">追蹤中</li>
        <li onclick="buying()">競標中</li>
        <li onclick="dealing()">交易中</li>
        <li onclick="selling()">販賣中</li>
        <li onclick="finish()">已完成</li>
        <br><br>
        <a href="{% url 'to-sell' %}">賣東西</a>
        </ul>
        <div align="center" id="content">
        </div>
    </body>
    <script src="{% static 'js/bar.js' %}"></script>
    <script src="{% static 'js/MemberCenter.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
