{% if msg %}
<script>alert('{{msg}}')</script>
{% endif %}

<html>
{% load staticfiles %}
  <link rel="SHORTCUT ICON" href="{% static 'img/background.jpg' %}"/>
  <script>
    var info = {{ get-product-info | safe }};
  </script>
  <script src="{% static 'js/jquery.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Modify.css' %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    <body>
        <div id="content">
        </div>
    </body>
    <script src="{% static 'js/bar.js' %}"></script>
    <script src="{% static 'js/Modify.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>