<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/Share.css">
    <link rel="stylesheet" type="text/css" href="../static/css/Product.css">
    <script src="../static/js/Product.js"></script>

    <title>海大拍賣-上架商品</title>

    <header class="header">
        <div>
            <span>
                <a href="../templates/Main.html">海大拍賣</a>
            </span>
            <input style="margin-left:50px;" id="search" type="text">
            <input type="button" value="搜尋">
            <span style="float: right;">
                <a href="../templates/SignIn.html">登入</a>
                <a href="../templates/SignUp.html">註冊</a>
            </span>
        </div>
    </header>
    <body>
        <div id="content">
        </div>
    </body>
</html>
