<html>
  {% load staticfiles %}
  <link rel="shortcut icon" href="{% static 'img/ntoulogo.png' %}"/>
  <script src="{% static 'js/jquery.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Product.css' %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      var info = {{ product | safe }};
      var seller = {{ seller | safe }};
      var isSeller = {{ isSeller | lower | safe }};
      var csrf_token = "{% csrf_token %}";
    </script>
  </head>
  <body>
    <div id="Img">
      <img id="image" src="">
      <input type="button" onclick="tracking()" value="追蹤此商品" style="position:relative;font-size:15px;">
    </div>
    <!--顯示商品資訊-->
    <div id="product">
      <table>
        <tr>
          <td>名稱</td>
          <td id="product_name"></td>
        </tr>
        <tr>
          <td>分類</td>
          <td id="category"></td>
        </tr>
        <tr>
          <td>賣家</td>
          <td id="seller"></td>
        </tr>
        <tr>
          <td>賣家評價</td>
          <td id="seller_rate"></td>
        </tr>
        <tr>
          <td>狀態</td>
          <td id="status"></td>
        </tr>
        <tr>
          <td>直購/拍賣</td>
          <td id="trading_type"></td>
        </tr>
        <tr>
          <td>直購價</td>
          <td id="price"></td>
        </tr>
        <tr>
          <td>目前價格</td>
          <td id="current_price"></td>
        </tr>
        <tr>
          <td>目前最高價者</td>
          <td id="highest_buyer_id"></td>
        </tr>
        <tr>
          <td>每標底價</td>
          <td id="price_per_mark"></td>
        </tr>
        <tr>
          <td>敘述</td>
          <td id="description"></td>
        </tr>
        <tr>
          <td>希望交易方式</td>
          <td id="trading_method"></td>
        </tr>
        <tr>
          <td>剩餘時間</td>
          <td id="deadline"></td>
        </tr>
        <tr>
          <td></td>
          <td id="pay">
            <form method="POST" action="/bidproduct/" onsubmit="return checkForm()">
              {% csrf_token %}
              <input type="number" name="current_price" id="inputprice" style="width:100px;float:left">元
              <input type="text" name="id" style="display: none">
              <input type="submit" value="出價">
            </form>
            <form method="POST" id="purchase" action="/purchaseproduct/" onsubmit="return checkUser()">
              {% csrf_token %}
              <input type="text" name="id" style="display: none">
              <input type="submit" style="position:relative;top:0px;font-size:15px" value="直接購買">
            </form>
          </td>
        </tr>
      </table>
    </div>
    <!--問與答-->
    <div id="qas" align="center">
      <p>問與答</p>
      <table id="qa">
      </table>
    </div>
  </body>
  <script src="{% static 'js/bar.js' %}"></script>
  <script src="{% static 'js/Product.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
