
<html>
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}">
  <link rel="shortcut icon" href="{% static 'img/ntoulogo.png' %}"/>
  <script src="{% static 'js/jquery.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <head>
    <title>海大拍賣</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <div id="loadspace">
    <div id="loader" class="loader" >
      <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div>
  </div>

  <body onload="start()">
        <nav class="nav navbar-default">
             <div class="container-fluid">
                 <div>
                     <ul id="myNavbar" class="nav navbar-nav">
                      <span>商品分類</span>
                     </ul>
                 </div>
             </div>
         </nav>

          <div class="container-fluid data">
            <div id="row" class="row">
              <div id="blank1" class="col-md-12"></div>
              <div class="col-md-1"></div>
            </div>
          </div>

          <script>          //拿全部商品資訊  library型態
            var products = {{ products | safe }};
          </script>

          <nav id="page" class="page">
            <ul class="pagination">
             <li class="page-item"><a onclick="previousPage()" class="page-link" ><<</a></li>
            </ul>
          </nav>
  </body>

  <script src="{% static 'js/bar.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
