<html>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}">
    <link rel="shortcut icon" href="{% static 'img/ntoulogo.png' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ToSell.css' %}">
    <head>
        <title>主頁面</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="realTimeImg">
            <img id="image" src="../static/img/ntoulogo.png">
        </div>''
        <div id="content">
            <form method="POST" action="/posttosell/" enctype="multipart/form-data" onsubmit="return checkForm()">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>圖片(gif,jpeg,png):</td>
                        <td><input id="imgIn" type="file" name="image" accept="image/gif, image/jpeg, image/png"></td>
                    </tr>
                    <tr>
                        <td>名稱:</td>
                        <td><input id="name" type="text" name="product_name" required/></td>
                    </tr>
                    <tr>
                        <td>分類:</td>
                        <td>
                            <select id="category" name="category">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>直購/拍賣:</td> 
                        <td>
                            <input id="sell" type="radio" name="trading_type" onclick="switch_trading()" value="1" checked="true"/>直購
                            <input id="sale" type="radio" name="trading_type" onclick="switch_trading()" value="0"/>拍賣
                        </td>
                    </tr>
                    <tr>
                        <td>直購價:</td>
                        <td><input id="max" type="number" name="price" required/>元</td>
                    </tr>
                    <tr>
                        <td>底價:</td>
                        <td><input id="now" type="number" name="current_price" readonly/>元</td>
                    </tr>
                    <tr>
                        <td>每標底價:</td>
                        <td><input id="step" type="number" name="price_per_mark" readonly/>元</td>
                    </tr>
                    <tr>
                        <td>敘述:</td>
                        <td><textarea id="description" name="description" cols="20" rows="5"></textarea></td>
                    </tr>
                    <tr>
                        <td>希望交易方式:</td>
                        <td><input id="hope" type="text" class="block" name="trading_method"/></td>
                    </tr>
                    <tr>
                        <td>賣家:</td>
                        <td><input id="seller" type="text" value="username read only" required readonly/></td>
                    </tr>
                    <tr>
                        <td>結標日期:</td>
                        <td><input id="deadline" type="datetime-local" name="deadline" required></td>
                    </tr>
                    <tr><td></td><td><input id="submit" type = "submit" value = "確認上架"></td></tr>
                </table>
            </form>
        </div>
    </body>
    <script src="{% static 'js/bar.js' %}"></script>
    <script src="{% static 'js/ToSell.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>