<html>
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/trade.css' %}">
  <link rel="shortcut icon" href="{% static 'img/ntoulogo.png' %}"/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <head>
    <title>交易頁面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  </head>

  <div id="loadspace">
    <div id="loader" class="loader" >
      <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div>
  </div>

  <script>
    var buyer = {{ buyer | safe }};
    var seller = {{ seller | safe }};
    var product = {{ product | safe }};
    var now_user = {{ now_user | safe}};
  </script>

  <body onload="start()">
     <div class="container-fluid data">
         <div class="row">
           <div class="col-md-12"><button id="evaluate" onclick="evaluateProduct()" >評價</button></div>
           <div class="col-md-12"><button id="complete" onclick="completeTrade()" disabled>交易完成</button></div>
           <div class="col-md-1"></div>
           <div class="col-md-4">
                <div class="well">
                    <div class="row">
                        <div class=" col-md-4">
                           <img src="{%static '/img/buyer.png' %}" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-md-8">

                             <h2 id='buyer'></h2>
                             <small><cite id='buyer-address'></cite></small>
                             <h4 id='buyer-email'></h4>
                             <h4 id='buyer-phone'></h4>
                             <section id='buyer-contact'></section>

                        </div>
                     </div>
                 </div>
            </div>
            <div class="col-md-2"><img id='shake' src="{% static '/img/shake.jpg' %}"></div>
            <div class="col-md-4">
                <div class="well">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{%static '/img/Seller.png' %}" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-md-8">

                            <h2 id='seller'></h2>
                            <small><cite id='seller-address'></cite></small>
                            <h4 id='seller-email'></h4>
                            <h4 id='seller-phone'></h4>
                            <section id='seller-contact'></section>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="well">
                 <div class="row">
                     <div class="col-md-4">
                         <img id="product-url" src="http://placehold.it/380x400" alt="" class="img-rounded img-responsive">
                     </div>
                     <div class="col-md-8">

                        <h2 id='product-name'></h2>
                        <small><cite ></cite></small>
                        <section id='product-category'></section>
                        <section id='product-price'></section>
                        <section id='product-method'></section>
                        <section id='product-status'></section>
                        <section id='product-type'></section>
                        <section id='product-description'></section>

                     </div>
                 </div>
               </div>
             </div>
         <div class="col-md-2"></div>
        </div>
     </div>

  <div id='dialog' style="display:none;text-align:center;"><p>資料傳輸中...</p><img src="{% static '/img/washhand.jpg'%}"></div>
  </body>
  
  <script src="{% static 'js/bar.js' %}"></script>
  <script src="{% static 'js/trade.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </html>
